<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header id="header" th:fragment="header">
    <h1><a href="http://www.onepiece.ren">首页</a></h1>
    <nav class="links">
        <!--<ul>-->
            <!--<li><a href="#">标题1</a></li>-->
            <!--<li><a href="#">标题2</a></li>-->
            <!--<li><a href="#">标题3</a></li>-->
            <!--<li><a href="#">标题4</a></li>-->
            <!--<li><a href="#">标题5</a></li>-->
        <!--</ul>-->
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>
<body>

</body>
</html>